.site-footer {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    text-align: center;
}

@media (min-width: 768px) {
    .site-footer {
        border-radius: 0;
    }
}

.a:hover, .a:focus {
    text-decoration: none !important;
}