<div class="alert alert-danger" ng-show="error">
    {{ errorMessage }}
</div>


<!-- -->
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-8">
            <div class="form-group" ng-show="employeeList.length > 2">
                <input type="text" class="form-control" style="width: 50%; margin-bottom: 10px; float: right!important;"
                       placeholder="Filter" ng-model="searchText"/>
            </div>
            <span ng-show="employeeList.length == 0">No records found.</span>

            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th class="text-center">
                        S.No
                    </th>
                    <th class="text-center">
                        Employee Name
                    </th>
                    <th class="text-center">
                        Designation
                    </th>
                    <th class="text-center">
                        Project
                    </th>
                    <th class="text-center">
                        Email Id
                    </th>
                    <th class="text-center col-sm-2" ng-show="employeeList.length > 0">
                        Option(s)
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="employee in employeeList | filter:searchText | orderBy:predicate">
                    <td>
                        {{ employee.id }}
                    </td>
                    <td>
                        {{ employee.firstName }} {{ employee.middleName }} {{ employee.lastName }}
                    </td>
                    <td>
                        {{ employee.designation }}
                    </td>
                    <td>
                        {{ employee.project }}
                    </td>
                    <td>
                        {{ employee.email }}
                    </td>
                    <td class="col-sm-2">
                        <button ng-click="removeEmployee(employee.id)"
                                class="btn btn-danger btn-sm glyphicon glyphicon-remove"></button>
                        <button ng-click="editEmployeeDetails(employee)"
                                class="btn btn-warning btn-sm glyphicon glyphicon-pencil"></button>
                    </td>
                </tr>
                </tbody>
            </table>

            <button ng-click="removeAllEmployee()" class="btn btn-danger pull-right" ng-show="employeeList.length > 1">
                Remove All Entries
            </button>
        </div>

        <div class="col-sm-4">
            <div class="panel-primary">
                <div class="panel-heading">
                    {{ pageName }} Details
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="employeeForm">

                        <div class="form-group">
                            <label class="label label-info">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name" ng-model="emp.firstName" required />
                        </div>

                        <div class="form-group">
                            <label class="label label-info">Middle Name</label>
                            <input type="text" class="form-control" placeholder="Middle Name" ng-model="emp.middleName"/>
                        </div>

                        <div class="form-group">
                            <label class="label label-info">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" ng-model="emp.lastName" required />
                        </div>

                        <div class="form-group">
                            <label class="label label-info">Designation</label>
                            <input type="text" class="form-control" placeholder="Designation" ng-model="emp.designation" required />
                        </div>

                        <div class="form-group">
                            <label class="label label-info">Project</label>
                            <input type="text" class="form-control" placeholder="Project" ng-model="emp.project" required />
                        </div>

                        <div class="form-group">
                            <label class="label label-info">Email</label>
                            <div class="input-group">
                                <input name="email" type="email" class="form-control" placeholder="Email" ng-minlength="5" ng-model="newUser.email" required />
                                <span class="input-group-addon">@</span>
                            </div>
                            <small class="error help-block help-text" ng-show="employeeForm.email.$error.minlength || employeeForm.email.$error.email || employeeForm.email.$invalid">
                                eg: example@gmail.com
                            </small>
                        </div>

                        <div class="form-group">
                            <button type="reset" class="btn btn-default">Reset</button>
                            <button class="btn btn-primary" ng-click="addEmployee(emp)"
                                    ng-disabled="employeeForm.$invalid"
                                    ng-hide="editMode">Add Employee
                            </button>
                            <button class="btn btn-success" ng-click="updateEamployeeDetails(emp)"
                                    ng-disabled="employeeForm.$invalid"
                                    ng-show="editMode">Save Employee
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!---->