<form class="form-horizontal col-lg-4 col-sm-offset-4">

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username"/>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password"/>
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-lg">Login</button>
    </div>

    <hr class="divider"/>

    <div class="form-group pull-right">
        <a class="label label-danger" style="font-size: 15px;" href="#/forgot">forgot Password?</a> <span
            class="divider-vertical"></span> <a class="label label-success large" style="font-size: 15px;"
                                                href="#/create">New User</a>
    </div>

</form>