<div class="alert alert-danger" ng-show="error">
    {{ errorMessage }}
</div>


<!-- -->
<div class="container">
    <div class="row">

        <div class="col-sm-4 pull-right">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ pageName }} Details
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name" ng-model="emp.firstName"/>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Middle Name"
                                   ng-model="emp.middleName"/>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name" ng-model="emp.lastName"/>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Designation"
                                   ng-model="emp.designation"/>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Project" ng-model="emp.project"/>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" ng-model="emp.email"/>
                        </div>

                        <div class="form-group">
                            <button type="reset" class="btn btn-default">Reset</button>
                            <button class="btn btn-primary" ng-click="addEmployee(emp)"
                                    ng-disabled="!emp.firstName || !emp.lastName || !emp.designation || !emp.project || !emp.email"
                                    ng-hide="editMode">Add Employee
                            </button>
                            <button class="btn btn-success"
                                    ng-disabled="!emp.firstName || !emp.lastName || !emp.designation || !emp.project || !emp.email"
                                    ng-show="editMode">Save Employee
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="col-sm-7 pull-left">
            <div>
                <span ng-show="employeeList.length == 0">No records found.</span>

                <div class="form-group">
                    <input type="text" class="form-control col-sm-1" placeholder="Filter" ng-model="searchText"/>
                </div>
            </div>

            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th class="text-center">
                        S.No
                    </th>
                    <th class="text-center">
                        Employee Name
                    </th>
                    <th class="text-center">
                        Designation
                    </th>
                    <th class="text-center">
                        Project
                    </th>
                    <th class="text-center">
                        Email Id
                    </th>
                    <th class="text-center" ng-show="employeeList.length > 0">
                        Option(s)
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="employee in employeeList | filter:searchText | orderBy:predicate">
                    <td>
                        {{ employee.id }}
                    </td>
                    <td>
                        {{ employee.firstName }} {{ employee.middleName }} {{ employee.lastName }}
                    </td>
                    <td>
                        {{ employee.designation }}
                    </td>
                    <td>
                        {{ employee.project }}
                    </td>
                    <td>
                        {{ employee.email }}
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm glyphicon glyphicon-remove"></button>
                        <button class="btn btn-warning btn-sm glyphicon glyphicon-pencil"></button>
                    </td>
                </tr>
                </tbody>
            </table>

            <button class="btn btn-danger pull-right">Remove All Entries</button>
        </div>
    </div>
</div>

<!---->